@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*Home*/
.home {
display: flex; 
flex-direction: column; 
justify-self: center; 
align-items: center; 
text-align: center; 
box-sizing: border-box;
}

.pixel {
  font-size: 20px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: 'Press Start 2P', cursive;
  
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active {
  top: 2px;
}

.pixel {
  line-height: 0;
  
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  
  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 30px;
  padding: 10px 20px;
  
	background: #000000;
	background:
		linear-gradient(135deg, transparent 10px, #000000 0) top left,
		linear-gradient(225deg, transparent 10px, #000000 0) top right,
		linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}

.mint {
  position: absolute;
  top: 5vw;
  left: 14vw;
  transform: rotate(-1deg);
}

#connectbtn {
  position: absolute;
  transform: rotate(-deg);
  font-family: 'Press Start 2P', cursive;
  color: black;
  opacity: 0.8;
  cursor: pointer;
  font-size: 1.7em;
  left: 13vw;
  top: 16vh;
}

.soldout {
  position: absolute;
  transform: rotate(-deg);
  font-family: 'Press Start 2P', cursive;
  color: black;
  opacity: 1;
  cursor: pointer;
  font-size: 1.9em;
  left: 1vw;
  top: 4vh;
}

@media (width: 1536px) {
  .mint{
    top: 2.7vw;
    left: 13vw;
  }
  #connectbtn {
    left: 11.5vw;
  }
  .soldout{
    left: 1.3vw;
    top: 7vh;
  }
}


@media (max-width: 1400px) {
  .mint{
    top: 2.1vw;
    left: 12vw;
  }
  #connectbtn {
    left: 11.5vw;
    font-Size: 1.5em;
  }
  .soldout{
    left: 1.6vw;
    top: 8vh;
    font-Size: 1.6em;
  }
}
